<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Editor</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=478>
<meta name=layout-width content=965>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Body>If you would like information on debugging, see the <a href="0002.htm">Debugger 
 tips</a>.</p>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Use make/strip code: 
 <span style="font-weight: bold;">Editor|Make Code Statement</span>, <span 
 style="font-weight: bold;">Editor|Strip Code Statement</span></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Wrap code: <span 
 style="font-weight: bold;">Utilities|Wrap</span></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Built-in formatter 
 formats the code by clicking the <span style="font-weight: bold;">Format 
 code</span> button. </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Press <span style="font-weight: bold;">&lt;F9&gt;</span> 
 to run or compile the code at the cursor.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">&lt;Shift&gt;&lt;F9&gt;</span> 
 to run the code snippet at the cursor.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Use <span style="font-weight: bold;">&lt;CTRL&gt;&lt;N&gt;</span> 
 to access Named SQL Recall </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Use &lt;<span style="font-weight: bold;">ALT&gt;+UP/DOWN</span> 
 to scroll iteratively through your SQL Recall History list. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->If 
 you select text, only the selected text will be replaced as you scroll 
 through the list </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Customize your Editor 
 toolbar: right click on the toolbar. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Uncheck 
 <span style="font-weight: bold;">Merged</span>. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Right-click 
 again and select <span style="font-weight: bold;">toolbars </span>to add 
 or remove. </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">&lt;F7&gt;</span> 
 to clear the editor. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Turn off save reminders: 
 <span style="font-weight: bold;">Options|Editor-Behavior|Confirm Clear 
 All Text</span>, and <span style="font-weight: bold;">Options|Editor-Open/Save|Prompt 
 to save editor on close</span>) .</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">Set 
 Parameters|Options</span> dialog to enable Collections &amp; REF Cursor 
 output support. </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">&lt;F2&gt;</span> 
 to toggle full screen Editor.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">&lt;Shift&gt;&lt;F2&gt;</span> 
 to toggle full screen output panels.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>&lt;<span style="font-weight: bold;">F11</span>&gt; 
 to run code without accessing the Debugger.</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
