<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Debugging on a RAC</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=648>
<meta name=layout-width content=851>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Body>During debugging, Toad creates two background sessions for 
 handling debugger calls: Target and debug sessions. These sessions MUST 
 be on the same instance as the main Toad session.</p>

<p class=Body>Requirements:</p>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Have an additional 
 entry in your TNSNames.ora file for the connected instance</p></li>
</ul>

<p class=Or>Or</p>

<ul>
	
	<li class=kadov-p-CListBulletTight><p class=ListBulletTight>Connect 
 directly to an instance of the cluster without letting the server assign 
 one. </p></li>
</ul>

<p class=Body>Toad accomplishes debugging as follows:</p>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Queries the data 
 dictionary to find the current instance name</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Searches the TNSNames.ora 
 file for the first <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->entry 
 that matches SERVICE_NAME or INSTANCE_NAME.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Uses the secondary 
 TNSNames entry when creating the background debugger sessions.</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

<p class=RelatedTopicsLinks>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
