<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Breakpoints</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=693>
<meta name=layout-width content=911>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Body>Use breakpoints to stop code at a particular place when debugging. 
 You can also set conditions so that it only stops when those conditions 
 are met. </p>

<p class=Body>Insert breakpoints (points in your code where execution will 
 stop) by clicking in the gutter to the left of the code. </p>

<p class=Procedure>Conditions</p>

<p class=Body>Enter the condition that you want the code to meet before 
 breaking. You can use the following operators in a condition:</p>

<!--(Table)=========================================================-->
<!--begin!kadov{{--><div align=left><!--}}end!kadov-->
<table x-use-null-cells
		style="float: alignleft;
				x-cell-content-align: Top;
				margin-left: 40px;
				left: 0px;
				top: 96px;
				width: 616px;
				height: 149px;"
		height=149
		width=616>
<col style="width: 16.237%;">
<col style="width: 83.763%;">

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 16.237%;
			background-color: #bdd5d5;
			border-left-style: None;
			border-top-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#BDD5D5
	width=16.237%>
<p class=TableHeading>Operator</td>
<td style="width: 83.763%;
			background-color: #bdd5d5;
			border-top-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#BDD5D5
	width=83.763%>
<p class=TableHeading>Meaning</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>&gt;=</td>
<td style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Greater than or equal to</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>&lt;=</td>
<td style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Less than or equal to</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>&gt;</td>
<td colspan=1
	rowspan=1
	style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Greater than</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>&lt;</td>
<td colspan=1
	rowspan=1
	style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Less than</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>=</td>
<td colspan=1
	rowspan=1
	style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Equal to</td></tr>

<tr style="x-cell-content-align: top;"
	valign=top>
<td colspan=1
	rowspan=1
	style="width: 16.237%;
			background-color: #e1ecec;
			border-left-style: None;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=16.237%>
<p class=TableBody>&lt;&gt;</td>
<td colspan=1
	rowspan=1
	style="width: 83.763%;
			background-color: #e1ecec;
			border-right-style: None;
			border-bottom-style: None;
			padding-right: 10px;
			padding-left: 10px;"
	bgcolor=#E1ECEC
	width=83.763%>
<p class=TableBody>Not equal to</td></tr>
</table>
<!--begin!kadov{{--></div><!--}}end!kadov-->
<p class=Procedure>Passcounts</p>

<p class=Body>When you enter a passcount, the debugger will not stop on 
 the breakpoint line until just before the breakpoint line for the <span 
 style="font-style: italic;">n</span>th pass count. This pass could be 
 a FOR loop, DO WHILE loop, IF/END IF, and so on. It is not dependent on 
 any &quot;COUNTER_VAR&quot; value.</p>

<p class=Body>For example, if you enter a 5, then the debugger will stop 
 just before the 5th pass through the breakpoint. </p>

<p class=topicline>&nbsp;</p>

<p class=relatedtopics>Related Information</p>

<p class=RelatedTopicsLinks>Detailed <a href="http://toadsoft.com/demo_vids.html"
										target=_blank>HowTo videos on Toadsoft</a> 
 (external internet link). </p>

<p class=relatedtopicslinks>&nbsp;</p>

<p class=RelatedTopicsLinks>&nbsp;</p>

</body>

</html>
