<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Watches</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=648>
<meta name=layout-width content=851>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Procedure>To set a watch on a variable</p>

<ol>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Click on the 
 variable. </p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Do one of the 
 following:</p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet>Click the <span style="font-weight: bold;">Set 
 Watch </span><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->button 
 on the toolbar.</p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet>Press <span style="font-weight: bold;">&lt;CTRL&gt;&lt;F5&gt;</span><span>.</span></p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet>Click the debug menu 
 and select <span style="font-weight: bold;">Set Watch at Cursor</span>.</p></li>
</ol>

<p class=Procedure>Using smart watches</p>

<ol>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Click the <span 
 style="font-weight: bold;">Watches tab</span> at the bottom of the window.</p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Click <span style="font-weight: bold;">Enable 
 Smart Watches</span>. </p></li>
</ol>

<p class=Commentary>Watches will be enabled for all current variables in 
 the Smart Watches panel. </p>

<p class=TopicLine>&nbsp;</p>

<p class=RelatedTopicsLinks>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
