<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Schema Browser</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=654>
<meta name=layout-width content=851>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Objects listed on 
 Left Hand Side (LHS)</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Details on Right 
 Hand Side (RHS)</p></li>
</ul>

<h2>LHS Tips</h2>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Double-click an object 
 to alter it.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Press &lt;<span style="font-weight: bold;">F4</span>&gt; 
 on a selected object to open a describe window.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Right-click an object 
 (or multiple objects) for other actions.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>In tabbed or drop 
 down mode, right-click on the column header to select additional columns/info. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Left-click a column 
 header to sort. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Use the quickfilter 
 box to quickly find object names (for example, change to A* to see all 
 objects that start with an A). <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--><br>
	This is the fastest way to filter since it does not run any queries 
 on the database. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Right-click quick 
 filter to see recently used quick filters.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Click the funnel 
 icon to do complex filtering.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Right-click the Schema 
 drop down box to set a default schema for the current connection (or database). 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Right-click to jump 
 to the default schema or login schema for the current database.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Schema browser show 
 too much and too confusing? </p></li>
</ul>

<ul>
	
	<li class=kadov-p-CSubBulletTight><p class=SubBulletTight>Too many 
 tabs? Click the <span style="font-weight: bold;">Browser style</span> 
 <img src="Images/options.gif"
		x-maintain-ratio=TRUE
		style="border: none;
				width: 25px;
				height: 25px;
				float: none;
				border-style: none;
				border-style: none;"
		width=25
		height=25
		border=0> button on the right to customize the look of the LHS. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet>Right-clicking in the 
 object type drop down and choose <span style="font-weight: bold;">Configure</span> 
 to hide tabs.</p></li>
</ul>

<h2><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->RHS 
 Tips</h2>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Press &lt;<span style="font-weight: bold;">F12</span>&gt; 
 to hide the RHS completely. Clicking between objects on the LHS is faster. 
 <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->You can 
 still get detailed info on any object by pressing &lt;F4&gt;. <br>
	Press &lt;<span style="font-weight: bold;">F12</span>&gt; again to 
 display the RHS.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Customize tabs for 
 details - right-click in the row of tabs and select what stays visible.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>&lt;<span style="font-weight: bold;">F4</span>&gt; 
 describes any object mentioned in the RHS.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>&lt;<span style="font-weight: bold;">Shift</span>&gt;&lt;<span 
 style="font-weight: bold;">F4</span>&gt; jumps to any object mentioned 
 in the RHS.</p></li>
</ul>

<h3><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->RHS 
 Toolbar</h3>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>Return to a recently 
 viewed item - Click the arrow next to the hourglass. <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}--></p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>To keep the history 
 when Toad is restarted or adjust how many items are remembered, go to 
 <span style="font-weight: bold;">Options|Schema Browser|History</span>.</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
