<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Query Builder</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=648>
<meta name=layout-width content=851>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Procedure>To use</p>

<ol>
	
	<li style="margin-left: 6.00pt; /*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CNumberedList><p class=NumberedList
										style="color: #010100;">Drag-and-drop 
 <span style="font-weight: bold;">Tables</span>, <span style="font-weight: bold;">Views</span>, 
 or <span style="font-weight: bold;">Synonyms</span> from the <a href="0006.htm">Schema 
 Browser</a>, <a href="0007.htm">Project Manager</a>, Object Palette, or 
 the Object Search window<span style="font-weight: bold;"> </span>to the 
 modeling area. </p></li>
	
	<li style="margin-left: 6.00pt; /*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CNumberedList><p class=NumberedList
										style="color: #010100;">Click in 
 the check box by a column to select or clear it. </p></li>
</ol>

<p class=StepNote><span class=QuestBlue>Note:</span> Clicking this box 
 adds the column to the main query. Columns must be added to subqueries 
 by dragging.</p>

<ol start=3>
	
	<li style="margin-left: 6.00pt; /*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CNumberedList><p class=NumberedList
										style="color: #010100;">Drag-and-drop 
 <span style="font-weight: bold;">columns</span> from one table to another 
 to create joins between the tables. </p></li>
	
	<li style="margin-left: 6.00pt; /*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CNumberedList><p class=NumberedList
										style="color: #010100;">Add any 
 WHERE clauses, or GROUP by clauses by right-clicking on the column in 
 the tree view node and select <span style="font-weight: bold;">Add to 
 </span><span style="font-style: italic; font-weight: bold;">n</span><span 
 style="font-weight: bold;"> clause</span>. Right-click and adjust properties 
 for clauses where necessary. </p></li>
	
	<li style="margin-left: 6.00pt;"
		class=kadov-p-CNumberedList><p class=NumberedList><font style="color: #010100;"
	color=#010100>Click the <span style="font-weight: bold;">Save Model</span> 
 <span style="font-weight: bold;">as</span> <img src="Images/saveas.gif"
												x-maintain-ratio=TRUE
												style="border: none;
														width: 26px;
														height: 25px;
														float: none;
														border-style: none;
														border-style: none;"
												width=26
												height=25
												border=0> button on the 
 toolbar</font> <font style="color: #010100;"
						color=#010100>to save the model to disk. </font></p></li>
	
	<li style="margin-left: 6.00pt; /*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CNumberedList><p class=NumberedList
										style="color: #010100;">Click the 
 <span style="font-weight: bold;">Generated Query</span> tab to view the 
 generated query, and then click the <span style="font-weight: bold;">Load 
 in</span> <span style="font-weight: bold;">Editor </span><img src="Images/Editor.gif"
	x-maintain-ratio=TRUE
	style="border: none;
			width: 25px;
			height: 25px;
			float: none;
			border-style: none;
			border-style: none;"
	width=25
	height=25
	border=0> button to copy the query to the Editor.</p></li>
</ol>

<p class=Body>Press <span style="font-weight: bold;">&lt;F1</span>&gt; 
 from the window for more detailed information about this window and how 
 you can use it.</p>

<p class=TopicLine>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
