<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>FTP</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=248>
<meta name=layout-width content=843>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Body>SSH support is enabled for terminal and FTP connections.</p>

<p class=Note><span class=QuestBlue>Note:</span> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Toad 
 does not support PuTTY or PuTTY keys at this time.</p>

<p class=Procedure>To connect using SSH support</p>

<ol>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Select either 
 SSH version 1 or version 2 in the SSH tab, or chose the Secure in the 
 FTP window.</p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Enter Username 
 and Password (if required).</p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Browse for the 
 Private key file on your PC.</p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Press Connect. 
 </p></li>
	
	<li class=kadov-p-CNumberedList><p class=NumberedList>Enter your passcode 
 in the dialog may open to accept the passcode, if your private key requires 
 it.</p></li>
</ol>

<p class=TopicLine>&nbsp;</p>

</body>

</html>
