<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Import Utility Wizard</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=248>
<meta name=layout-width content=843>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p class=Body>Use the import utility wizard when you need to export a small 
 object or number of objects. </p>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>If you cannot access 
 this feature, make sure you have the correct path listed under <span style="font-weight: bold;">Options|Executables</span>.</p></li>
	
	<li style="/*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-p-CBody><p class=Body><font style="color: #010100;"
												color=#010100>You can </font>automatically 
 unzip files before importing them.</p></li>
	
	<li class=kadov-p-Cbody><p class=body>To use the Database option, you 
 will need a SYSDBA account.</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

<p class=RelatedTopics>&nbsp;</p>

<p class=relatedtopicslinks>&nbsp;</p>

</body>

</html>
