<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Database Probe</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=313>
<meta name=layout-width content=936>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<ul>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>Access to some V$ 
 synonyms are required for this feature. Press &lt;<span style="font-weight: bold;">F1</span>&gt; 
 for more information. </p></li>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>Edit the alert text 
 from the options window or by clicking the information icon and then editing. 
 You can also deactivate the alert in either way.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet>The information displayed 
 reflects standard Oracle statistics. For more information about what the 
 areas on the database probe represent, see your Oracle documentation.</p></li>
</ul>

<ul>
	
	<li class=kadov-P-CSubBulletTight><p class=SubBulletTight>The result 
 of <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->Number/number 
 represents used/max</p></li>
	
	<li class=kadov-P-CSubBullet><p class=SubBullet>For example, 2/170 
 is 2 total sessions out of a possible 170.</p></li>
	
	<li class=kadov-P-CSubBullet><p class=SubBullet><!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->- 
 represents a NULL value or &quot;invalid for the current connection version&quot;</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

</body>

</html>
