<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Toad Server Statistics</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=313>
<meta name=layout-width content=936>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<ul>
	
	<li style="/*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-P-CListBullet><p class=ListBullet
									style="color: #010100;">Set thresholds 
 by editing or creating ToadStats.ini in your Toad for Oracle\User files 
 directory. </p></li>
	
	<li style="/*begin!kadov{{*/ color: #010100; /*}}end!kadov*/ "
		class=kadov-P-CListBullet><p class=ListBullet
									style="color: #010100;">Access Quest 
 Spotlight if you have it installed by clicking the Spotlight button on 
 the toolbar.</p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

</body>

</html>
