<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Toad Unix Monitor</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=313>
<meta name=layout-width content=936>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<p>The following commands must be installed and enabled on the UNIX machine: 
 </p>

<ul>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>RExec - Used to drive 
 the monitor.</p></li>
</ul>

<p class=StepNote>Note: The server must be running Rexecd in order to use 
 this utility. In addition, some variants of UNIX may handle an rexec as 
 an rlogin. These may automatically execute login files such as &quot;.profile&quot;. 
 In this case, extraneous output commands such as echoing &quot;motd&quot; 
 (message of the day) may interfere with Toad's parsing of the output.</p>

<ul>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>lostat <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->- 
 Used to get the disk io information.</p></li>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>vmstat - Used to 
 obtain cpu information</p></li>
	
	<li class=kadov-P-CListBullet><p class=ListBullet>ps <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->- 
 Used to process queues and lists. </p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

</body>

</html>
