<!doctype HTML public "-//W3C//DTD HTML 4.0 Frameset//EN">

<html>

<!--(==============================================================)-->
<!--(Document created with RoboEditor. )============================-->
<!--(==============================================================)-->

<head>

<title>Welcome to Toad</title>

<!--(Meta)==========================================================-->

<meta http-equiv=content-type content="text/html; charset=windows-1252">
<meta name=generator content="RoboHELP by eHelp Corporation - www.ehelp.com">
<meta name=generator-major-version content=0.1>
<meta name=generator-minor-version content=1>
<meta name=filetype content=kadov>
<meta name=filetype-version content=1>
<meta name=page-count content=1>
<meta name=layout-height content=730>
<meta name=layout-width content=829>


<!--(Links)=========================================================-->

<link rel=StyleSheet href=Quest.css>



</head>

<!--(Body)==========================================================-->


<body>

<h2>Getting Help for Toad</h2>

<p class=Body>You can get help with using Toad from several locations:</p>

<ul>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">ToadHelp</span> 
 - Press <span style="font-weight: bold;">F1</span> for help with the active 
 Toad window, or select <span style="font-weight: bold;">Contents</span> 
 from the Help menu.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">Toad 
 Online</span> - Select <span style="font-weight: bold;">Toad Online</span> 
 from the <span style="font-weight: bold;">Help menu</span> for an overview 
 of the new features in Toad, and links to sign up for discussion lists 
 and other online resources. </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">ToadWorld</span> 
 - <a href="http://toadworld.com"
		target=_blank>ToadWorld</a> is a site providing discussion forums, 
 education opportunities, updates and announcements of new Toad products. 
 Share code snippets with your fellow users, and learn valuable tips and 
 tricks for using Toad.</p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet><a href="http://www.toadworld.com/Knowledge/ToadKnowledge/CoffeeBreakBytes/tabid/73/Default.aspx"
														target=_blank
														style="font-weight: bold;">Coffee 
 Break Bytes</a> - video clips showing the top things you should know when 
 using Toad, depending on your role. </p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet><a href="http://www.toadworld.com/Community/Blogs/tabid/67/Default.aspx"
														target=_blank
														style="font-weight: bold;">Blogs</a> 
 - articles written by Toad experts to grow you knowledge of Toad.</p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">Toadsoft</span>.com 
 - Visit <a href="http://www.toadsoft.com"
			target=_blank>Toadsoft</a> <!--kadov_tag{{<spaces>}}-->&nbsp;<!--kadov_tag{{</spaces>}}-->for 
 information on all aspects of using Toad with tutorials, downloads and 
 lots more, including</p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet
									style="font-weight: bold;"><a href="http://toadsoft.com/demo_vids.html"
	target=_blank
	style="font-weight: bold;">Toad HowTo videos</a></p></li>
	
	<li class=kadov-p-CSubBullet><p class=SubBullet>Toad version <a href="http://www.toadsoft.com/tutorials.htm"
	target=_blank>walkthrough tutorials</a> </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">AskToad.com</span> 
 - <a href="http://asktoad.com"
		target=_blank>AskToad</a> is a user-driven knowledgebase, running 
 on Wiki technology. It is designed to provide answers, tips and hints 
 about using Toad for Oracle. </p></li>
	
	<li class=kadov-p-CListBullet><p class=ListBullet><span style="font-weight: bold;">Quest 
 Support</span> - Quest Support is available to customers who have a trial 
 version of a Quest product or who have purchased a commercial version 
 and have a valid maintenance contract. Quest Support provides around the 
 clock coverage with SupportLink, our web self-service. Visit SupportLink 
 at <a href="http://support.quest.com"
		target=_blank>http://support.quest.com</a> </p></li>
</ul>

<p class=TopicLine>&nbsp;</p>

</body>

</html>
